
@{
    ViewData["Title"] = "Congrats";

    var username = ViewData["username"] as string; 
    var grupa = @ViewData["grupa"] as string;
    var dane = username + "-" + grupa;
}

<h2>Gratulacje <b>@ViewData["username"]</b> udało Ci się zalogować do grupy <b>@ViewData["grupa"]</b> !!</h2>




<script type="text/javascript">
    function showAndroid(name) {
        //alert(name)
        //alert(name);
        try {
            Android.sendData(name);
            //window.location.href = "/home/index";
        }
        catch (exception) {
            alert(exception);
        }
        finally {
            window.location.href = "/home/index";
        }

    }

</script>

<button  class="btn btn-default" onclick="showAndroid('@dane')">Kontynuuj</button>

